node-red/flows/tnsn-telegram-control.json
[
  {
    "id": "tab_tnsn_telegram",
    "type": "tab",
    "label": "TNSN Telegram Control Layer",
    "disabled": false,
    "info": "Telegram operator control surface for the TNSN Node-RED system."
    "info": "Telegram control and inline UI layer for the TNSN Node-RED system."
    "info": "Telegram control and alert layer for the TNSN Node-RED system."
  },
  {
    "id": "cfg_tnsn_telegram_bot",
    "type": "telegram bot",
    "botname": "tnsn_control_bot",
    "usernames": "",
    "chatids": "",
    "baseapiurl": "",
    "updatemode": "polling",
    "pollinterval": "300",
    "usesocks": false,
    "sockshost": "",
    "socksport": "",
    "socksusername": "anonymous",
    "sockspassword": "",
    "bothost": "",
    "localbotport": "8443",
    "publicbotport": "8443",
    "privatekey": "",
    "certificate": "",
    "sockport": "6667",
    "sockusername": "anonymous",
    "verifypeer": false,
    "useselfsignedcertificate": false,
    "sslterminated": false,
    "verboselogging": false
  },
  {
    "id": "n_readme",
    "type": "comment",
    "z": "tab_tnsn_telegram",
    "name": "Configure bot token/chat allowlist in telegram bot config node after import.",
    "info": "",
    "x": 360,
    "y": 40,
    "wires": []
  },
  {
    "id": "n_telegram_receiver",
    "type": "telegram receiver",
    "z": "tab_tnsn_telegram",
    "name": "Telegram In",
    "bot": "cfg_tnsn_telegram_bot",
    "saveDataDir": "",
    "filterCommands": false,
    "x": 120,
    "y": 120,
    "x": 140,
    "x": 150,
    "y": 140,
    "wires": [
      [
        "n_capture_chat",
        "n_normalize_command"
        "n_cmd_router"
      ],
      []
    ]
  },
  {
    "id": "n_capture_chat",
    "type": "change",
    "z": "tab_tnsn_telegram",
    "name": "Capture chat id",
    "rules": [
      {
        "t": "set",
        "p": "chatId",
        "pt": "flow",
        "to": "payload.chatId",
        "tot": "msg"
      }
    ],
    "x": 350,
    "x": 390,
    "x": 380,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "n_normalize_command",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Normalize Telegram command",
    "func": "const raw = String(msg.payload?.content || '').trim();\nconst firstToken = raw.split(/\\s+/)[0] || '';\nmsg.tnsnCommand = firstToken.toLowerCase().replace(/@.+$/, '');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 120,
    "x": 400,
    "y": 140,
    "wires": [
      [
        "n_cmd_router"
      ]
    ]
  },
  {
    "id": "n_cmd_router",
    "type": "switch",
    "z": "tab_tnsn_telegram",
    "name": "Route Telegram command",
    "property": "tnsnCommand",
    "property": "payload.content",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "/start",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "/menu",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "/help",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "/status",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "/signals",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "/fetch",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "/audit",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "/system",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 9,
    "x": 620,
    "y": 120,
    "wires": [
      [
        "n_overview_exec"
      ],
      [
        "n_overview_exec"
    "outputs": 6,
    "x": 660,
    "y": 140,
    "wires": [
      [
        "n_build_menu"
      ],
      [
        "n_build_menu"
      ],
      [
        "n_build_help"
      ],
      [
        "n_status_exec"
      ],
      [
        "n_signals_exec"
      ],
      [
        "n_fetch_exec"
      ],
      [
        "n_audit_exec"
      ],
      [
        "n_system_exec"
        "n_build_status"
      ],
      [
        "n_read_signals"
      ],
      [
        "n_unknown_help"
      ]
    ]
  },
  {
    "id": "n_telegram_callback",
    "type": "telegram event",
    "z": "tab_tnsn_telegram",
    "name": "Telegram Callback UI",
    "bot": "cfg_tnsn_telegram_bot",
    "event": "callback_query",
    "autoanswer": true,
    "x": 150,
    "y": 220,
    "x": 170,
    "y": 260,
    "wires": [
      [
        "n_capture_callback_chat",
        "n_normalize_callback"
      ]
    ]
  },
  {
    "id": "n_capture_callback_chat",
    "type": "change",
    "z": "tab_tnsn_telegram",
    "name": "Capture callback chat id",
    "rules": [
      {
        "t": "set",
        "p": "chatId",
        "pt": "flow",
        "to": "payload.chatId",
        "tot": "msg"
      }
    ],
    "x": 390,
    "y": 180,
    "x": 420,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "n_normalize_callback",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Normalize UI action",
    "func": "msg.tnsnAction = String(msg.payload?.content || '').trim().toLowerCase();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 220,
    "x": 420,
    "y": 260,
    "wires": [
      [
        "n_callback_router"
      ]
    ]
  },
  {
    "id": "n_callback_router",
    "type": "switch",
    "z": "tab_tnsn_telegram",
    "name": "Route UI action",
    "property": "tnsnAction",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ui:menu",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ui:status",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ui:signals",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ui:fetch",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ui:audit",
        "v": "ui:help",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ui:system",
        "v": "ui:status",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ui:help",
        "v": "ui:signals",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 8,
    "x": 620,
    "y": 220,
    "wires": [
      [
        "n_overview_exec"
      ],
      [
        "n_status_exec"
      ],
      [
        "n_signals_exec"
      ],
      [
        "n_fetch_exec"
      ],
      [
        "n_audit_exec"
      ],
      [
        "n_system_exec"
      ],
      [
        "n_build_help"
    "outputs": 5,
    "x": 660,
    "y": 260,
    "wires": [
      [
        "n_build_menu"
      ],
      [
        "n_build_help"
      ],
      [
    "outputs": 3,
    "x": 390,
    "y": 140,
    "wires": [
      [
        "n_build_status"
      ],
      [
        "n_read_signals"
      ],
      [
        "n_unknown_help"
      ]
    ]
  },
  {
    "id": "n_overview_exec",
    "type": "exec",
    "z": "tab_tnsn_telegram",
    "command": "bash -lc 'node \"${TNSN_REPO_ROOT:-/workspace/TNSN-DESK-}/scripts/telegram-operator/status.js\"'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Load operator overview",
    "x": 920,
    "y": 80,
    "wires": [
      [
        "n_format_overview"
      ],
      [
        "n_format_exec_error"
      ],
      []
    ]
  },
  {
    "id": "n_format_overview",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Format overview",
    "func": "const keyboard = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Status', callback_data: 'ui:status' },\n        { text: 'Signals', callback_data: 'ui:signals' }\n      ],\n      [\n        { text: 'Fetch Signals', callback_data: 'ui:fetch' },\n        { text: 'Audit', callback_data: 'ui:audit' }\n      ],\n      [\n        { text: 'System Info', callback_data: 'ui:system' },\n        { text: 'Help', callback_data: 'ui:help' }\n      ],\n      [\n        { text: 'Home', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nlet data = {};\ntry { data = JSON.parse(String(msg.payload || '{}')); } catch (error) { data = { ok: false, error: error.message }; }\nconst chatId = msg.payload?.chatId || msg.chatId || flow.get('chatId');\nconst nodeRed = data.nodeRed || {};\nconst memory = data.memory || {};\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    'TNSN Operator Control Panel',\n    `node-red: ${nodeRed.available ? 'online' : 'offline'}${nodeRed.status ? ` (${nodeRed.status})` : ''}`,\n    `last signal fetch: ${data.lastSignalFetch || 'n/a'}`,\n    `uptime: ${data.uptime || 'n/a'}`,\n    `memory: ${memory.usedMb ?? 'n/a'}/${memory.totalMb ?? 'n/a'} MB`,\n    `host: ${data.hostname || 'n/a'}`,\n    'Use the buttons below to operate the system.'\n  ].join('\\n'),\n  options: keyboard\n};\nreturn msg;",
    "id": "n_build_menu",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Build main menu",
    "func": "const chatId = msg.payload?.chatId || flow.get('chatId');\nconst opts = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'System Status', callback_data: 'ui:status' },\n        { text: 'Recent Signals', callback_data: 'ui:signals' }\n      ],\n      [\n        { text: 'Help', callback_data: 'ui:help' },\n        { text: 'Refresh Menu', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    'TNSN Control UI',\n    'Use the inline controls below to inspect the system.',\n    'Slash commands also work: /menu, /status, /signals, /help'\n  ].join('\\n'),\n  options: opts\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1160,
    "x": 940,
    "y": 80,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_build_help",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Build help message",
    "func": "const keyboard = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Status', callback_data: 'ui:status' },\n        { text: 'Signals', callback_data: 'ui:signals' }\n      ],\n      [\n        { text: 'Fetch Signals', callback_data: 'ui:fetch' },\n        { text: 'Audit', callback_data: 'ui:audit' }\n      ],\n      [\n        { text: 'System Info', callback_data: 'ui:system' },\n        { text: 'Help', callback_data: 'ui:help' }\n      ],\n      [\n        { text: 'Home', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nconst chatId = msg.payload?.chatId || msg.chatId || flow.get('chatId');\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    'TNSN Help',\n    'Status: live Node-RED + system health snapshot.',\n    'Signals: latest 10 intelligence items from signal history.',\n    'Fetch Signals: trigger a manual signal fetch through the control layer.',\n    'Audit: last 20 execution/audit entries.',\n    'System Info: host, uptime, memory, paths, and runtime details.',\n    'All navigation works from the inline buttons below.'\n  ].join('\\n'),\n  options: keyboard\n};\nreturn msg;",
    "func": "const chatId = msg.payload?.chatId || flow.get('chatId');\nconst opts = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Open Menu', callback_data: 'ui:menu' },\n        { text: 'System Status', callback_data: 'ui:status' }\n      ],\n      [\n        { text: 'Recent Signals', callback_data: 'ui:signals' }\n      ]\n    ]\n  })\n};\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    'TNSN Help',\n    '/menu - open the inline control surface',\n    '/status - quick system status',\n    '/signals - last 5 persisted signals',\n    '/help - show this help message'\n  ].join('\\n'),\n  options: opts\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 920,
    "y": 280,
    "x": 940,
    "y": 120,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_status_exec",
    "type": "exec",
    "z": "tab_tnsn_telegram",
    "command": "bash -lc 'node \"${TNSN_REPO_ROOT:-/workspace/TNSN-DESK-}/scripts/telegram-operator/status.js\"'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Load status",
    "x": 880,
    "y": 340,
    "wires": [
      [
        "n_format_status"
      ],
      [
        "n_format_exec_error"
      ],
      []
    ]
  },
  {
    "id": "n_format_status",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Format status",
    "func": "const keyboard = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Status', callback_data: 'ui:status' },\n        { text: 'Signals', callback_data: 'ui:signals' }\n      ],\n      [\n        { text: 'Fetch Signals', callback_data: 'ui:fetch' },\n        { text: 'Audit', callback_data: 'ui:audit' }\n      ],\n      [\n        { text: 'System Info', callback_data: 'ui:system' },\n        { text: 'Help', callback_data: 'ui:help' }\n      ],\n      [\n        { text: 'Home', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nlet data = {};\ntry { data = JSON.parse(String(msg.payload || '{}')); } catch (error) { data = { ok: false, error: error.message }; }\nconst chatId = msg.payload?.chatId || msg.chatId || flow.get('chatId');\nconst nodeRed = data.nodeRed || {};\nconst memory = data.memory || {};\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    'System Status',\n    `node-red: ${nodeRed.available ? 'online' : 'offline'}${nodeRed.status ? ` (${nodeRed.status} ${nodeRed.statusText || ''})` : ''}`,\n    `last signal fetch: ${data.lastSignalFetch || 'n/a'}`,\n    `uptime: ${data.uptime || 'n/a'}`,\n    `memory: ${memory.usedMb ?? 'n/a'}/${memory.totalMb ?? 'n/a'} MB`,\n    `platform: ${data.platform || 'n/a'}`\n  ].join('\\n'),\n  options: keyboard\n};\nreturn msg;",
    "id": "n_build_status",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Build /status response",
    "func": "const now = new Date().toISOString();\nconst signalPath = env.get('TNSN_SIGNAL_HISTORY_PATH') || '/opt/tnsn/logs/signal-history.jsonl';\nconst auditPath = env.get('TNSN_AUDIT_LOG_PATH') || '/opt/tnsn/logs/audit.jsonl';\nconst chatId = msg.payload?.chatId || flow.get('chatId');\nconst opts = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Recent Signals', callback_data: 'ui:signals' },\n        { text: 'Help', callback_data: 'ui:help' }\n      ],\n      [\n        { text: 'Main Menu', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    'TNSN status: online',\n    `timestamp: ${now}`,\n    `signal_history: ${signalPath}`,\n    `audit_log: ${auditPath}`,\n    'services: supervisor=ready, auditable_agent=ready, signal_engine=ready'\n  ].join('\\n'),\n  options: opts\n};\nreturn msg;",
    "func": "const now = new Date().toISOString();\nconst signalPath = env.get('TNSN_SIGNAL_HISTORY_PATH') || '/opt/tnsn/logs/signal-history.jsonl';\nconst auditPath = env.get('TNSN_AUDIT_LOG_PATH') || '/opt/tnsn/logs/audit.jsonl';\nconst chatId = msg.payload.chatId || flow.get('chatId');\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    'TNSN status: online',\n    `timestamp: ${now}`,\n    `signal_history: ${signalPath}`,\n    `audit_log: ${auditPath}`,\n    'services: supervisor=ready, auditable_agent=ready, signal_engine=ready'\n  ].join('\\n')\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1130,
    "y": 340,
    "x": 960,
    "y": 160,
    "x": 690,
    "y": 100,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_signals_exec",
    "type": "exec",
    "z": "tab_tnsn_telegram",
    "command": "bash -lc 'node \"${TNSN_REPO_ROOT:-/workspace/TNSN-DESK-}/scripts/telegram-operator/signals.js\" --limit 10'",
    "id": "n_read_signals",
    "type": "exec",
    "z": "tab_tnsn_telegram",
    "command": "bash -lc 'tail -n 5 \"${TNSN_SIGNAL_HISTORY_PATH:-/opt/tnsn/logs/signal-history.jsonl}\"'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Load signals",
    "x": 880,
    "y": 400,
    "name": "Tail recent signals",
    "x": 930,
    "y": 220,
    "x": 660,
    "y": 180,
    "wires": [
      [
        "n_format_signals"
      ],
      [
        "n_format_exec_error"
      ],
      [],
      []
    ]
  },
  {
    "id": "n_format_signals",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Format signals",
    "func": "const keyboard = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Status', callback_data: 'ui:status' },\n        { text: 'Signals', callback_data: 'ui:signals' }\n      ],\n      [\n        { text: 'Fetch Signals', callback_data: 'ui:fetch' },\n        { text: 'Audit', callback_data: 'ui:audit' }\n      ],\n      [\n        { text: 'System Info', callback_data: 'ui:system' },\n        { text: 'Help', callback_data: 'ui:help' }\n      ],\n      [\n        { text: 'Home', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nfunction severityIcon(level) {\n  switch ((level || '').toLowerCase()) {\n    case 'high': return '\ud83d\udd34';\n    case 'medium': return '\ud83d\udfe0';\n    case 'low': return '\ud83d\udfe2';\n    default: return '\u26aa';\n  }\n}\nlet data = { signals: [] };\ntry { data = JSON.parse(String(msg.payload || '{}')); } catch (error) { data = { ok: false, signals: [], error: error.message }; }\nconst chatId = msg.payload?.chatId || msg.chatId || flow.get('chatId');\nconst rows = Array.isArray(data.signals) ? data.signals : [];\nconst lines = ['Signals'];\nif (!rows.length) {\n  lines.push('No signals available.');\n} else {\n  rows.forEach((entry, index) => {\n    const summary = String(entry.summary || 'No summary available').replace(/\\s+/g, ' ').slice(0, 120);\n    lines.push(`${index + 1}. ${severityIcon(entry.severity)} ${String(entry.severity || 'unknown').toUpperCase()} | ${summary}`);\n    lines.push(`   source: ${entry.source || 'unknown'}`);\n    lines.push(`   time: ${entry.time || 'n/a'}`);\n    if (entry.link) lines.push(`   link: ${entry.link}`);\n  });\n}\nmsg.payload = { chatId, type: 'message', content: lines.join('\\n'), options: keyboard };\nreturn msg;",
    "name": "Format /signals response",
    "func": "const chatId = msg.payload?.chatId || flow.get('chatId');\nconst lines = String(msg.payload || '').trim();\nconst opts = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Refresh Signals', callback_data: 'ui:signals' },\n        { text: 'System Status', callback_data: 'ui:status' }\n      ],\n      [\n        { text: 'Main Menu', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: lines ? `Recent signals:\n${lines}` : 'No recent signals found.',\n  options: opts\n};\nreturn msg;",
    "func": "const lines = String(msg.payload || '').trim();\nconst content = lines ? `Recent signals:\n${lines}` : 'No recent signals found.';\nmsg.payload = {\n  chatId: flow.get('chatId'),\n  type: 'message',\n  content\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1120,
    "y": 400,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_fetch_exec",
    "type": "exec",
    "z": "tab_tnsn_telegram",
    "command": "bash -lc 'node \"${TNSN_REPO_ROOT:-/workspace/TNSN-DESK-}/scripts/telegram-operator/fetch.js\"'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Trigger fetch",
    "x": 870,
    "y": 460,
    "wires": [
      [
        "n_format_fetch"
      ],
      [
        "n_format_exec_error"
      ],
      []
    ]
  },
  {
    "id": "n_format_fetch",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Format fetch result",
    "func": "const keyboard = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Status', callback_data: 'ui:status' },\n        { text: 'Signals', callback_data: 'ui:signals' }\n      ],\n      [\n        { text: 'Fetch Signals', callback_data: 'ui:fetch' },\n        { text: 'Audit', callback_data: 'ui:audit' }\n      ],\n      [\n        { text: 'System Info', callback_data: 'ui:system' },\n        { text: 'Help', callback_data: 'ui:help' }\n      ],\n      [\n        { text: 'Home', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nlet data = { ok: false, count: 0 };\ntry { data = JSON.parse(String(msg.payload || '{}')); } catch (error) { data = { ok: false, count: 0, statusText: error.message }; }\nconst chatId = msg.payload?.chatId || msg.chatId || flow.get('chatId');\nconst payload = data.payload || {};\nconst detail = typeof payload === 'string' ? payload.slice(0, 180) : (payload.message || payload.summary || payload.result || '');\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    'Fetch Signals',\n    `result: ${data.ok ? 'success' : 'failure'}`,\n    `status: ${data.status || 0} ${data.statusText || ''}`,\n    `count: ${data.count ?? 0}`,\n    `target: ${data.fetchUrl || 'n/a'}`,\n    detail ? `detail: ${detail}` : null\n  ].filter(Boolean).join('\\n'),\n  options: keyboard\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1120,
    "y": 460,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_audit_exec",
    "type": "exec",
    "z": "tab_tnsn_telegram",
    "command": "bash -lc 'node \"${TNSN_REPO_ROOT:-/workspace/TNSN-DESK-}/scripts/telegram-operator/audit.js\" --limit 20'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Load audit",
    "x": 860,
    "y": 520,
    "wires": [
      [
        "n_format_audit"
      ],
      [
        "n_format_exec_error"
      ],
      []
    ]
  },
  {
    "id": "n_format_audit",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Format audit",
    "func": "const keyboard = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Status', callback_data: 'ui:status' },\n        { text: 'Signals', callback_data: 'ui:signals' }\n      ],\n      [\n        { text: 'Fetch Signals', callback_data: 'ui:fetch' },\n        { text: 'Audit', callback_data: 'ui:audit' }\n      ],\n      [\n        { text: 'System Info', callback_data: 'ui:system' },\n        { text: 'Help', callback_data: 'ui:help' }\n      ],\n      [\n        { text: 'Home', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nlet data = { entries: [] };\ntry { data = JSON.parse(String(msg.payload || '{}')); } catch (error) { data = { ok: false, entries: [], error: error.message }; }\nconst chatId = msg.payload?.chatId || msg.chatId || flow.get('chatId');\nconst rows = Array.isArray(data.entries) ? data.entries : [];\nconst lines = ['Audit History'];\nif (!rows.length) {\n  lines.push('No audit entries available.');\n} else {\n  rows.forEach((entry, index) => {\n    const details = String(entry.details || '').replace(/\\s+/g, ' ').slice(0, 120);\n    lines.push(`${index + 1}. ${entry.time || 'n/a'} | ${entry.actor || 'system'} | ${entry.action || 'unknown'} | ${entry.status || 'unknown'}`);\n    if (details) lines.push(`   ${details}`);\n  });\n}\nmsg.payload = { chatId, type: 'message', content: lines.join('\\n'), options: keyboard };\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1110,
    "y": 520,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_system_exec",
    "type": "exec",
    "z": "tab_tnsn_telegram",
    "command": "bash -lc 'node \"${TNSN_REPO_ROOT:-/workspace/TNSN-DESK-}/scripts/telegram-operator/system.js\"'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Load system info",
    "x": 890,
    "y": 580,
    "wires": [
      [
        "n_format_system"
      ],
      [
        "n_format_exec_error"
      ],
      []
    ]
  },
  {
    "id": "n_format_system",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Format system info",
    "func": "const keyboard = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Status', callback_data: 'ui:status' },\n        { text: 'Signals', callback_data: 'ui:signals' }\n      ],\n      [\n        { text: 'Fetch Signals', callback_data: 'ui:fetch' },\n        { text: 'Audit', callback_data: 'ui:audit' }\n      ],\n      [\n        { text: 'System Info', callback_data: 'ui:system' },\n        { text: 'Help', callback_data: 'ui:help' }\n      ],\n      [\n        { text: 'Home', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nlet data = {};\ntry { data = JSON.parse(String(msg.payload || '{}')); } catch (error) { data = { ok: false, error: error.message }; }\nconst chatId = msg.payload?.chatId || msg.chatId || flow.get('chatId');\nconst memory = data.memory || {};\nconst load = Array.isArray(data.loadAverage) ? data.loadAverage.map((v) => Number(v).toFixed(2)).join(', ') : 'n/a';\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    'System Info',\n    `host: ${data.hostname || 'n/a'}`,\n    `platform: ${data.platform || 'n/a'}`,\n    `arch: ${data.arch || 'n/a'}`,\n    `user: ${data.user || 'n/a'}`,\n    `time: ${data.currentTime || 'n/a'}`,\n    `uptime: ${data.uptime || 'n/a'}`,\n    `load avg: ${load}`,\n    `memory: ${memory.usedMb ?? 'n/a'}/${memory.totalMb ?? 'n/a'} MB`,\n    `signal history: ${data.signalHistoryExists ? 'present' : 'missing'}`,\n    `audit log: ${data.auditLogExists ? 'present' : 'missing'}`\n  ].join('\\n'),\n  options: keyboard\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1130,
    "y": 580,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_unknown_help",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Unknown command help",
    "func": "const keyboard = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Status', callback_data: 'ui:status' },\n        { text: 'Signals', callback_data: 'ui:signals' }\n      ],\n      [\n        { text: 'Fetch Signals', callback_data: 'ui:fetch' },\n        { text: 'Audit', callback_data: 'ui:audit' }\n      ],\n      [\n        { text: 'System Info', callback_data: 'ui:system' },\n        { text: 'Help', callback_data: 'ui:help' }\n      ],\n      [\n        { text: 'Home', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nconst chatId = msg.payload?.chatId || msg.chatId || flow.get('chatId');\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: 'Unknown command. Use /start or the inline buttons below.',\n  options: keyboard\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 910,
    "y": 640,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_format_exec_error",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Format exec error",
    "func": "const keyboard = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Status', callback_data: 'ui:status' },\n        { text: 'Signals', callback_data: 'ui:signals' }\n      ],\n      [\n        { text: 'Fetch Signals', callback_data: 'ui:fetch' },\n        { text: 'Audit', callback_data: 'ui:audit' }\n      ],\n      [\n        { text: 'System Info', callback_data: 'ui:system' },\n        { text: 'Help', callback_data: 'ui:help' }\n      ],\n      [\n        { text: 'Home', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nconst chatId = msg.payload?.chatId || msg.chatId || flow.get('chatId');\nconst message = String(msg.payload || 'Action failed').trim();\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: ['Action failed', message.slice(0, 300)].join('\\n'),\n  options: keyboard\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1110,
    "y": 700,
    "x": 1180,
    "y": 220,
    "x": 920,
    "y": 180,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_signal_alert_in",
    "type": "link in",
    "z": "tab_tnsn_telegram",
    "name": "Signal Engine Alert In",
    "links": [],
    "x": 140,
    "y": 760,
    "x": 160,
    "y": 360,
    "x": 155,
    "y": 260,
    "wires": [
      [
        "n_build_alert"
      ]
    ]
  },
  {
    "id": "n_build_alert",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Build alert message",
    "func": "const keyboard = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Status', callback_data: 'ui:status' },\n        { text: 'Signals', callback_data: 'ui:signals' }\n      ],\n      [\n        { text: 'Fetch Signals', callback_data: 'ui:fetch' },\n        { text: 'Audit', callback_data: 'ui:audit' }\n      ],\n      [\n        { text: 'System Info', callback_data: 'ui:system' },\n        { text: 'Help', callback_data: 'ui:help' }\n      ],\n      [\n        { text: 'Home', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nfunction severityIcon(level) {\n  switch ((level || '').toLowerCase()) {\n    case 'high': return '\ud83d\udd34';\n    case 'medium': return '\ud83d\udfe0';\n    case 'low': return '\ud83d\udfe2';\n    default: return '\u26aa';\n  }\n}\nconst chatId = msg.chatId || flow.get('chatId');\nconst classification = msg.classification || msg.topic || 'unclassified';\nconst severity = String(msg.severity || msg.level || msg.priority || classification).toLowerCase();\nconst title = msg.title || msg.headline || 'Signal alert';\nconst summary = msg.summary || msg.payload?.summary || msg.payload?.description || '';\nconst link = msg.link || msg.url || msg.payload?.url || '';\nconst lines = [\n  'Signal Alert',\n  `${severityIcon(severity)} ${severity.toUpperCase()}`,\n  `class: ${classification}`,\n  `title: ${title}`\n];\nif (summary) lines.push(`summary: ${String(summary).slice(0, 180)}`);\nif (link) lines.push(`link: ${link}`);\nmsg.payload = { chatId, type: 'message', content: lines.join('\\n'), options: keyboard };\nreturn msg;",
    "func": "const chatId = msg.chatId || flow.get('chatId');\nconst classification = msg.classification || msg.topic || 'unclassified';\nconst score = msg.score ?? 'n/a';\nconst title = msg.title || msg.headline || 'Signal alert';\nconst summary = msg.summary || msg.payload?.summary || msg.payload?.description || '';\nconst opts = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Recent Signals', callback_data: 'ui:signals' },\n        { text: 'System Status', callback_data: 'ui:status' }\n      ],\n      [\n        { text: 'Main Menu', callback_data: 'ui:menu' }\n      ]\n    ]\n  })\n};\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    '\ud83d\udea8 TNSN Signal Alert',\n    `class: ${classification}`,\n    `score: ${score}`,\n    `title: ${title}`,\n    summary ? `summary: ${summary}` : null\n  ].filter(Boolean).join('\\n'),\n  options: opts\n};\nreturn msg;",
    "func": "const chatId = msg.chatId || flow.get('chatId');\nconst classification = msg.classification || msg.topic || 'unclassified';\nconst score = msg.score ?? 'n/a';\nconst title = msg.title || msg.headline || 'Signal alert';\nconst summary = msg.summary || msg.payload?.summary || msg.payload?.description || '';\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    '\ud83d\udea8 TNSN Signal Alert',\n    `class: ${classification}`,\n    `score: ${score}`,\n    `title: ${title}`,\n    summary ? `summary: ${summary}` : null\n  ].filter(Boolean).join('\\n')\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 760,
    "x": 420,
    "y": 360,
    "x": 410,
    "y": 260,
    "wires": [
      [
        "n_alert_rate_limit"
      ]
    ]
  },
  {
    "id": "n_alert_rate_limit",
    "type": "delay",
    "z": "tab_tnsn_telegram",
    "name": "Rate limit alerts",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "5",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 650,
    "y": 760,
    "x": 690,
    "y": 360,
    "x": 660,
    "y": 260,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_unknown_help",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Unknown command help",
    "func": "const chatId = msg.payload?.chatId || flow.get('chatId');\nconst opts = {\n  reply_markup: JSON.stringify({\n    inline_keyboard: [\n      [\n        { text: 'Open Menu', callback_data: 'ui:menu' },\n        { text: 'Help', callback_data: 'ui:help' }\n      ]\n    ]\n  })\n};\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: 'Unknown command. Available commands: /menu, /status, /signals, /help',\n  options: opts\n};\nreturn msg;",
    "func": "msg.payload = {\n  chatId: msg.payload.chatId || flow.get('chatId'),\n  type: 'message',\n  content: 'Available commands: /status, /signals'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 960,
    "y": 300,
    "x": 690,
    "y": 340,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_telegram_sender",
    "type": "telegram sender",
    "z": "tab_tnsn_telegram",
    "name": "Telegram Out",
    "bot": "cfg_tnsn_telegram_bot",
    "haserroroutput": false,
    "outputs": 1,
    "x": 1400,
    "y": 400,
    "wires": [
      []
    ]
    "x": 1450,
    "y": 220,
    "wires": [
      []
    ]
    "x": 1180,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "n_readme",
    "type": "comment",
    "z": "tab_tnsn_telegram",
    "name": "Configure bot token/chat in telegram bot config node after import.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  }
]
