node-red/flows/tnsn-telegram-control.json
[
  {
    "id": "tab_tnsn_telegram",
    "type": "tab",
    "label": "TNSN Telegram Control Layer",
    "disabled": false,
    "info": "Telegram control and alert layer for the TNSN Node-RED system."
  },
  {
    "id": "cfg_tnsn_telegram_bot",
    "type": "telegram bot",
    "botname": "tnsn_control_bot",
    "usernames": "",
    "chatids": "",
    "baseapiurl": "",
    "updatemode": "polling",
    "pollinterval": "300",
    "usesocks": false,
    "sockshost": "",
    "sockport": "6667",
    "sockusername": "anonymous",
    "verifypeer": false,
    "useselfsignedcertificate": false,
    "sslterminated": false,
    "verboselogging": false
  },
  {
    "id": "n_telegram_receiver",
    "type": "telegram receiver",
    "z": "tab_tnsn_telegram",
    "name": "Telegram In",
    "bot": "cfg_tnsn_telegram_bot",
    "saveDataDir": "",
    "filterCommands": false,
    "x": 150,
    "y": 140,
    "wires": [
      [
        "n_capture_chat",
        "n_cmd_router"
      ],
      []
    ]
  },
  {
    "id": "n_capture_chat",
    "type": "change",
    "z": "tab_tnsn_telegram",
    "name": "Capture chat id",
    "rules": [
      {
        "t": "set",
        "p": "chatId",
        "pt": "flow",
        "to": "payload.chatId",
        "tot": "msg"
      }
    ],
    "x": 380,
    "y": 80,
    "wires": [
      []
    ]
  },
  {
    "id": "n_cmd_router",
    "type": "switch",
    "z": "tab_tnsn_telegram",
    "name": "Route Telegram command",
    "property": "payload.content",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "/status",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "/signals",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 390,
    "y": 140,
    "wires": [
      [
        "n_build_status"
      ],
      [
        "n_read_signals"
      ],
      [
        "n_unknown_help"
      ]
    ]
  },
  {
    "id": "n_build_status",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Build /status response",
    "func": "const now = new Date().toISOString();\nconst signalPath = env.get('TNSN_SIGNAL_HISTORY_PATH') || '/opt/tnsn/logs/signal-history.jsonl';\nconst auditPath = env.get('TNSN_AUDIT_LOG_PATH') || '/opt/tnsn/logs/audit.jsonl';\nconst chatId = msg.payload.chatId || flow.get('chatId');\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    'TNSN status: online',\n    `timestamp: ${now}`,\n    `signal_history: ${signalPath}`,\n    `audit_log: ${auditPath}`,\n    'services: supervisor=ready, auditable_agent=ready, signal_engine=ready'\n  ].join('\\n')\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 100,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_read_signals",
    "type": "exec",
    "z": "tab_tnsn_telegram",
    "command": "bash -lc 'tail -n 5 \"${TNSN_SIGNAL_HISTORY_PATH:-/opt/tnsn/logs/signal-history.jsonl}\"'",
    "addpay": false,
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Tail recent signals",
    "x": 660,
    "y": 180,
    "wires": [
      [
        "n_format_signals"
      ],
      [],
      []
    ]
  },
  {
    "id": "n_format_signals",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Format /signals response",
    "func": "const lines = String(msg.payload || '').trim();\nconst content = lines ? `Recent signals:\n${lines}` : 'No recent signals found.';\nmsg.payload = {\n  chatId: flow.get('chatId'),\n  type: 'message',\n  content\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 920,
    "y": 180,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_signal_alert_in",
    "type": "link in",
    "z": "tab_tnsn_telegram",
    "name": "Signal Engine Alert In",
    "links": [],
    "x": 155,
    "y": 260,
    "wires": [
      [
        "n_build_alert"
      ]
    ]
  },
  {
    "id": "n_build_alert",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Build alert message",
    "func": "const chatId = msg.chatId || flow.get('chatId');\nconst classification = msg.classification || msg.topic || 'unclassified';\nconst score = msg.score ?? 'n/a';\nconst title = msg.title || msg.headline || 'Signal alert';\nconst summary = msg.summary || msg.payload?.summary || msg.payload?.description || '';\nmsg.payload = {\n  chatId,\n  type: 'message',\n  content: [\n    '\ud83d\udea8 TNSN Signal Alert',\n    `class: ${classification}`,\n    `score: ${score}`,\n    `title: ${title}`,\n    summary ? `summary: ${summary}` : null\n  ].filter(Boolean).join('\\n')\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 260,
    "wires": [
      [
        "n_alert_rate_limit"
      ]
    ]
  },
  {
    "id": "n_alert_rate_limit",
    "type": "delay",
    "z": "tab_tnsn_telegram",
    "name": "Rate limit alerts",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "5",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 660,
    "y": 260,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_unknown_help",
    "type": "function",
    "z": "tab_tnsn_telegram",
    "name": "Unknown command help",
    "func": "msg.payload = {\n  chatId: msg.payload.chatId || flow.get('chatId'),\n  type: 'message',\n  content: 'Available commands: /status, /signals'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 690,
    "y": 340,
    "wires": [
      [
        "n_telegram_sender"
      ]
    ]
  },
  {
    "id": "n_telegram_sender",
    "type": "telegram sender",
    "z": "tab_tnsn_telegram",
    "name": "Telegram Out",
    "bot": "cfg_tnsn_telegram_bot",
    "haserroroutput": false,
    "outputs": 1,
    "x": 1180,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "n_readme",
    "type": "comment",
    "z": "tab_tnsn_telegram",
    "name": "Configure bot token/chat in telegram bot config node after import.",
    "info": "",
    "x": 340,
    "y": 40,
    "wires": []
  }
]
